#containers{
    display: grid;
    grid-template-columns:7vw 86vw 7vw;
}

.container_title{
    grid-column: 2;
    font-size: 60px;
    font-family: salma_alfasans;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#about{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
}

#about > photo{
    grid-column: 1;
    grid-row: 1;
    --photo_height: 420px;
    height: calc(calc(1610/1019) * var(--photo_height));
    width: var(--photo_height);
    background-image: url("../../images/about/me-pencil.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 0.6rem black);
}

#about > text{
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
    font-family: salma_alfasans;
    text-align: center;
    user-select: text;
}

#skills{
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

.skill{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 30px 30px ;
    justify-items: center;
    align-items: center;
    margin-bottom: 10px;
}

.skill_photo{
    grid-column: 1;
    grid-row: 1;
    --photo-size: 70px;
    --height: calc(var(--photo-size) *1.1);
    --width: var(--photo-size);
    height: var(--height);
    width: var(--width);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: calc(calc(var(--height) - var(--width))/2);
    filter: drop-shadow(0 0 0.1rem black);
}

.skill_name{
    grid-column: 1;
    grid-row: 2;
    font-size: 20px;
    font-family: salma_alfasans;
    text-align: center;
    white-space: nowrap;
}

.skill_rate{
    grid-column: 1;
    grid-row: 3;
    font-size: 20px;
    font-family: salma_alfasans;
    text-align: center;
    white-space: nowrap;
}

#projects
{
    grid-column: 2;
    grid-row: 5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
}

.project{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 40px;
    cursor: pointer;
}

.project_title{
    max-width: 95%;
    grid-column: 1;
    grid-row: 1;
    font-size: 20px;
    font-family: salma_alfasans;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-top: 5px;
}

.project_description{
    max-width: 95%;
    grid-column: 1;
    grid-row: 2;
    font-size: 16px;
    font-family: salma_alfasans;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

status_circle{
    border: 2px;
    border-style: solid;
    border-radius: 50%;
    font-size: 12px;
    padding-left: 15px;
    overflow-y: hidden;
}

.project_status{
    grid-column: 1;
    grid-row: 3;
    font-size: 16px;
    font-family: salma_alfasans;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    overflow-y: hidden;
    filter: drop-shadow(0 0 0.05rem rgba(0, 0, 0, 0.5));
}

.project_technologies{
    max-width: 95%;
    grid-column: 1;
    grid-row: 4;
    font-size: 16px;
    font-family: salma_alfasans;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 30px;
    filter: drop-shadow(0 0 0.05rem rgba(0, 0, 0, 0.5));
}

technologie{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(193, 193, 193, 0.5);
    border-radius: 5px;
}

@media (max-width: 1220px){

    #about{
        grid-template-columns: 100% !important;
    }

    #about > text{
        grid-column: 1 !important;
        grid-row: 1 !important;
    }

    #about > photo{
        background-image: none !important;
    }

}

@media (max-width: 600px)
{

    #projects{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
    }

    #skills{
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr)) !important;
    }

}