#header{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    background-color: black;
    align-items: center;
}

#header_title{
    grid-column: 1;
    grid-row: 1;
    color: white;
    font-size: 30px;
    font-family: salma_alfasans;
    text-align: center;
}

#header_home{
    grid-column: 1;
    grid-row: 1;
    height: 50px;
    width: 50px;
    background-image: url("../../images/header/home.webp");
    filter: drop-shadow(0 0 0.2rem white);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.25s;
}

#header_home:hover{
    background-image: url("../../images/header/home_colorful.webp");
    filter: drop-shadow(0 0 0.2rem rgb(255, 132, 0));
}

#container{
    display: grid;
    grid-template-columns: 7vw 86vw 7vw;
    grid-template-rows: auto auto;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#content{
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
    font-family: salma_alfasans;
    text-align: center;
    user-select: text;
}

img, iframe{
    filter: drop-shadow(0 0 0.6rem black);
}

#footer{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    height: 50px;
}